html, body {
	width: 100%;
    height: 100%;

    margin:0;
    padding:0;

    /*background-color: #90BE6D;*/
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

::selection {
    color: #FFB703;
    background-color: none;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    justify-content: space-between ;
    background-color: #ffffff;
    margin: 0 auto;

}

nav > ul {
    display: inline;
}

.nav-item, .nav-item > li {
    display: inline;
    margin: 0;
    padding-right: 2em;
}

.nav-link {
    color: #4D908E;
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #FFB703;
    /*border-bottom: solid 3px #FFB703;*/
}

#nav-logo {
    height: 50px;
    width: 50px;
    padding-left: 10px;
}


/* -------- Hero -------- */
#hero {
    padding-top: 95px;
    width:100%;
}


.hero-container {
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#hero-title {
   /* font-family: 'Merriweather', Serif;    font-family: 'Shrikhand', Cursive; */

    font-family: 'Playfair Display', Serif;
    font-size: 4em;
    letter-spacing: 2px;
    color: #90BE6D
   /* color: white;*/

}

#hero-desc {
   /* font-family: 'Fanwood Text', Serif;    font-family: 'Muli', Sans-Serif;*/
    font-family: 'Source Sans Pro', Sans-Serif;
    color: #90BE6D;
   /* color: white;*/
    font-size: 2em;
    width:100%;

}
#hero-img-container{
    height: auto;
    object-fit: contain; 
}

/* -------- Projects -------- */

#projects {

}

@media (max-width: 800px) {
    .hero-container {
        padding-left: 3em;
    }
    #hero-title{
        font-size: 3em;
    }
    #hero-img {
        width: 300px;
    }
    nav ul {
        align-items:center;
    }
}


@media (max-width: 570px) {
    .hero-container {
        padding-left: 5em;
        padding-right: 5em;
    }
    #hero-title{
        font-size: 2.5em;
    }
    #hero-desc{
        font-size:1.5em;
    }

}

@media (max-width: 450px) {
    
    #hero-title{
        font-size: 2em;
    }
    #hero-img {
        width: 200px;
    }
    nav ul {
        align-items:center;
    }
}